@using MVCBlog.Services
@using MVCBlog.Models

@model Post

@inject IImageService imageService

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />
    <article>
        <div class="row">
            <div class="col text-center font-weight-bold h3">
                Custom Post Tags
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                @foreach(var tag in Model.Tags)
                {
                    <a class="btn btn-warning btn-sm btn-outline-dark"  asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
                }
            </div>
        </div>
    </article>
<hr />

<div>
    @if(User.Identity.IsAuthenticated)
     {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)

            <div class="mb-3">
                <label class="h2 form-label font-weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>

            <button type="submit" class="btn btn-dark w-100 btn-sm">Submit</button>
        </form>
    }
    else
    {
        <a class="btn w-100 btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login">Login to add comments</a>
    }
</div>

<hr />

<span class="btn btn-sm btn-dark w-100">@Model.Comments.Count COMMENT(S)</span>

@foreach(var comment in Model.Comments)
{
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@imageService.DecodeImage(comment.Author.ImageData, comment.Author.ContentType)" class="me-3 mt-3 mb-3 rounded-circle" style="width:60px;" alt="User Image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@comment.Author.DisplayName</h5>
                <p class="card-text">@comment.Body</p>
                <p class="card-text"><small class="text-muted">Posted on @comment.Created.ToString("MMM dd, yyyy")</small></p>
            </div>
        </div>
    </div>
</div>
}